<div class="list-card" >
  <%# <div class="card-body"> %>
    <h5 class="primary-header"><%= list.name %> </h5>
    <p class="card-text">Some quick example text to build on the card title and
    make up the bulk of the card's content.</p>
    <%# <a href="#" class="btn btn-primary">View</a> %>
    <%= link_to "View", list_path(list), class:"btn-secondary" %>
  </div>
  <%# </div> %>
