.btn-primary {
  background-color: rgb(67, 9, 55);
  padding:16px;
  color: white;
  text-decoration: none;
    &:hover{
      color: white;
      background-color: rgb(61, 43, 57);
    }
  }

.btn-secondary{
  background-color: black;
  padding:8px 16px;
  color: white;
  text-decoration: none;
    &:hover{
      color: white;
      background-color: rgb(48, 48, 48);
    }
}

.btn-tertiary{
  padding:8px 16px;
  color: black;
  text-decoration: none;
    &:hover{
      color: white;
      background-color: rgb(48, 48, 48);
    }
}
